#api-documentation > p,
#api-documentation > h4,
#api-documentation > code {
 margin-bottom: 24px;
}

.api-text {
  font-size: 24px;
  text-align: justify;
}

.api-code {
  font-size: 24px;
}

.api-id {
  color:gray;
}