section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text {
    padding: 32px 0;
    h3 {
        line-height: 1.25;
        letter-spacing: 1.25px;
    }
}

.hero-text, 
.hero-img {
    min-height: 40vh;
    flex-basis: 44%;
}

.hero-img {
    background-image: url("hero.jpg");
    background-position: center;
}

.description-box {
    padding: 64px;
    background-color: white;
    color: black;
    flex-basis: 30%;
    min-height: 40vh;
    border: 1px solid black;
}

#new,
#description {
    background-color: black;
}

.map-text {
    padding: 64px;
    color: black;
    
}

.map-home {
    width: 45%;
    height: 600px;
}

.map-text,
.map-map {
    flex-basis: 50%;
    margin: 0 24px;
}

@media(max-width: 992px) {
    .hero {
        flex-direction: column;
    }

    .hero-img,
    .hero-text {
        width: 80%;
        align-self: center;
    }

    .description {
        flex-direction: column;
        align-items: center;
    }

    .description-box {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .description-content {
        display: flex;
        flex-direction: column;
    }
  }
  
  @media(max-width: 768px) {
    .description-box {
        display: block;
    }

    .map {
        flex-direction: column;
    }

    .map-text {
        margin-bottom: 100px;
    }

    .map-home {
        width: 80%;
        height: 480px;
    }
  }

  @media(max-width: 576px) {
    #hero {
        padding-bottom: 0 !important;
    }
  }