.hero {
    margin-top: 160px;
}

.hero-text {
    padding: 64px;
    h3 {
        line-height: 32px;
        letter-spacing: 4px;
    }
}

.hero-text, 
.hero-img {
    min-height: 40vh;
    flex-basis: 44%;
}
