.info-text {
  font-size: 24px;
  text-align: justify;
}

.about-list {
  list-style-type: none;
}

.about-list-item {
  margin-bottom: 20px;
  
}

.about-list-link {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.about-list-link:hover {
  color: #D63384;
}

#api-documentation > p,
#api-documentation > h4,
#api-documentation > code {
 margin-bottom: 24px;
}

.api-code {
  font-size: 24px;
}

.api-id {
  color:gray;
}