.info-width {
  width: 50%;
}

.info-text {
  font-size: 24px;
  text-align: justify;
}

.about-list {
  list-style-type: none;
}

.about-list-item {
  margin-bottom: 20px;
  
}

.about-list-link {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.about-list-link:hover {
  color: #D63384;
}

#api-documentation > p,
#api-documentation > h4,
#api-documentation > code {
 margin-bottom: 24px;
}

.api-code {
  font-size: 24px;
}

.api-id {
  color:gray;
}

@media(max-width: 576px) {
  .info-width {
    width: 75%;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  .info-text,
  .api-code {
    font-size: 18px;
  }

  .about-list-item {
    font-size: 18px;
  }

  .about-list-link {
    font-size: 22px;
  }

}