<div class="footer">
    
    <%= link_to ("https://github.com/webokoch/Food-Lover-App"), target: "_blank" do %>
      <i class="fab fa-github git-hub"></i>
    <% end %>
    
    <h3>Food Lover App</h3>
    <h3>About</h3>
</div>