<h1 class="ms-5">Leave a Review</h1>
<div class="container-form">
  <%= simple_form_for [ @food, @food_review ]  do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <div class="d-grid gap-2 mt-5">
      <%= f.submit class: "btn-primary" %>
    </div>
  <% end %>
</div>