<section id="description">
  <div class="container-xxl d-flex justify-content-between description">
    <div class="description-box">
      <div class="description-content">
        <h3 class="description-title" >Favorite Foods</h3>
        <p class="description-text">Post your favorite Food or check what other people like</p>
      </div>
      <%= link_to "Learn More", food_info_path, class: "btn button mt-2"  %>
    </div>
    <div class="description-box">
      <div class="description-content">
        <h3 class="description-title">Restaurants</h3> 
        <p class="description-text">Find a Restaurant serving your favorite Food</p>
      </div>
      <%= link_to "Learn More", restaurant_info_path, class: "btn button mt-2"  %>
    </div>
    <div class="description-box">
      <div class="description-content">
        <h3 class="description-title">Berlin Map</h3>
        <p class="description-text">Check the Berlin Map for Restaurants near you</p>
      </div>
      <%= link_to "Learn More", map_info_path, class: "btn button mt-2"  %>
    </div>
  </div>
</section>