<section id="description"  style="background-color: black">
  <div class="d-flex justify-content-between p-3">
    <div class="description-box">
      <h3>Favorite Foods</h3>
      <p>Post your favorite Food or check what other people like</p>
      <%= link_to "Learn More", foods_path, class: "btn button mt-2"  %>
    </div>
    <div class="description-box">
      <h3>Restaurants</h3>
      <p>Find a Restaurant serving your favorite Food</p>
      <%= link_to "Learn More", restaurants_path, class: "btn button mt-2"  %>
    </div>
    <div class="description-box">
      <h3>Berlin Map</h3>
      <p>Check the Berlin Map for Restaurants near you</p>
      <%= link_to "Learn More", map_path, class: "btn button mt-2"  %>
    </div>
  </div>
</section>