<section id="new">
  <h2 class="ps-5">Latest Restaurants</h2>
  <% @restaurants.order(created_at: :desc).limit(4).each do |restaurant| %>

      <p> <%= restaurant.name %> </p>
      
  <% end %>
      



</section>