<div class="container-xxl">
  <h1 class="my-4">Food Lover Api</h1>
  <div id="api-documentation" class="w-50 m-auto d-flex flex-column align-items-center">
    <p class="api-text">
      The Food Lover Api offers you access to all the data from the Food Lover App. 
      Browse all Foods and Restaurants or get the data of a specific Food or Restaurant.
      You can make Requests to the Food Lover Api by using a HTTP GET URL structure. Responses 
      will be provided in a simple JSON format.
    </p>
    <h4>The Base URL is:</h4>
    <code class="api-code">https://www.FoodLover.com/api/v1</code>
    <h4>Following endpoints are available:</h4>
    <code class="api-code">/foods</code>
    <code class="api-code">/foods/<span class="api-id">"id"</span></code>
    <code class="api-code">/restaurants</code>
    <code class="api-code">/restaurants/<span class="api-id">"id"</span></code>
  </div>
</div>
