<div class="container-xxl full-height">
  <h1 class="my-4 text-center">Food Lover API</h1>
  <div id="api-documentation" class="w-50 m-auto d-flex flex-column align-items-center mb-5">
    <p class="info-text">
      The Food Lover API offers you access to all the data from the Food Lover App. 
      Browse all Foods and Restaurants or get the data of a specific Food or Restaurant.
      You can make Requests to the Food Lover Api by using a HTTP GET URL structure. Responses 
      will be provided in a simple JSON format.
    </p>
    <h4>The Base URL is:</h4>
    <code class="api-code">https://foodloverapp.herokuapp.com/api/v1</code>
    <h4>Following endpoints are available:</h4>
    <code class="api-code">/foods</code>
    <code class="api-code">/foods/<span class="api-id">"id"</span></code>
    <code class="api-code">/restaurants</code>
    <code class="api-code">/restaurants/<span class="api-id">"id"</span></code>
    <h2 class="mt-4">Enjoy the Food Lover API</h2>
  </div> 
</div>
