<div class="container-xxl full-height d-flex justify-content-center align-items-center"> 
  <div>
    <h1 class="my-4 text-center">Berlin Food Lover Map</h1>
    <div class="w-50 m-auto d-flex flex-column align-items-center mb-5">
      <p class="info-text mb-3">
        Discover the Berlin Food Lover Map. It shows all Restaurants added by the Food Lover Community. 
        Become part of the Food Lover Community to post your own favorite Restaurants or find Restaurants 
        near you.
      </p> 
      <h3 class="mt-4">Join the Food Lover Community.</h3>
      <%= link_to "Sign Up Now", new_user_registration_path, class: "btn button button-lg my-5" %>
    </div>
  </div>
</div>