<div class="container-xxl">
  <div class="custom-cards food-card m-4">
    <% @results.each do |result| %>   
      <% if result.searchable_type == "Food" %>
        <%= render 'search_food_card', food: result.searchable %>
      <% else %>
        <%= render 'search_restaurant_card', restaurant: result.searchable %>
      <% end %>
    <% end %>    
  </div>
</div>