<div class="container-xxl">
  <h1 class="my-4">Your Search Results</h1>
  <div class="custom-cards food-card m-4">
    <% @uniq_results.each do |result| %>   
      <% if result.class.name == "Food" %>
        <%= render 'search_food_card', food: result %>
      <% else %>
        <%= render 'search_restaurant_card', restaurant: result %>
      <% end %>
    <% end %>    
  </div>
</div>