<div class="container-xxl">
  <h1 class="my-4"> <%= @food.name %> </h1>
  <div class="d-flex justify-content-between">
    <div class="foods">
      <%= render 'food_card' %>
    </div>
    <div class="foods" style="overflow-y:auto; height:520px">
       <%= render 'food_restaurants' %>
    </div>
    <div class="foods" style="overflow-y:auto; height:600px">
      <%= render 'food_reviews' %>
    </div>
  </div>
</div>