<div class="container-xxl full-height">
  <h1 class="my-4"> <%= @food.name %> </h1>
  <div class="show-layout">
    <div class="size">
      <%= render 'food_card' %>
    </div>
    <div class="size overflow last">
       <%= render 'food_restaurants' %>
    </div>
    <div class="size overflow">
      <%= render 'food_reviews' %>
    </div>
  </div>
</div>