<div class="m-5">
  <div class="row">
    <div class="col-md-8">
      <%= render 'food_card' %>
    </div>
    <div class="col-md-4">
      <%= render 'food_reviews' %>
    </div>
  <div>
  <h2 class="mb-5">Best Recommended Places To Eat <%= @food.name %> In Berlin</h2>
    <%= render 'restaurant_cards' %>
</div>
