<p>Dishes other Food Lovers recommend</p>
<div class="d-grid foods-grid">
  <% @restaurant.foods.uniq.each do |food| %>
    <%= link_to food_path(food), class: "text-decoration-none text-dark" do %>
      <div class="card border-0 bg-black text-white food-image">
      <% if food.photo.present? %>
          <%= cl_image_tag food.photo.key, crop: :fill, class: "card-img-top card-img-width" %>
      <% else %>
        <%= image_tag "food-placeholder.jpg", class: "card-img-top card-img-width" %>
      <%end%>
        <div class="card-body centered">
          <h3 class="card-title food-name"><%= food.name %></h3>
        </div>   
      </div>
    <% end %>
  <% end %>
</div>