<ul class="list-group">
  <% if @restaurant.restaurant_reviews.present? %>
    <% @restaurant.restaurant_reviews.order('created_at desc').each do |restaurant_review| %>
      <li class="list-group-item" id="restaurant-review-<%= restaurant_review.id %>">
        <% restaurant_review.rating.times do %>
        ⭐️
        <% end %> 
        <%= restaurant_review.content %>
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item text-center">
      Be the first to leave a review!
    </li>
    <li class="list-group-item">
      <%= link_to "Leave a Review", new_restaurant_restaurant_review_path(@restaurant), class: "btn button button-full" %>
    </li>
  <% end %>
</ul>