.btn {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 12px;
    width: 120px;
    
}

.btn:hover {
    color: white;
    background-color: black;
}