.custom-cards {
  padding: 0 2em;
  display: grid;
  gap: 24px;
}

.card-dimension {
  max-width: 480px;
  align-self: stretch;
}

.restaurant-card {
  grid-template-columns: 1fr 1fr 1fr;
}

.food-card {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content {
  display: flex;
}

@media(max-width: 992px) {
  .food-card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .restaurant-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .food-card {
  grid-template-columns: 1fr 1fr;
  }

  .restaurant-card {
    grid-template-columns: 1fr;
  }

  .content {
    flex-direction: column;
  }

  .map-restaurant {
    display: flex;
    order: 0;
    flex-basis: unset !important;
    height: 30vh !important;
  }

  .restaurant-card {
    order: 2;
  }
}

@media(max-width: 576px) {
  .food-card {
  justify-items: stretch;
  grid-template-columns: 1fr;
  }


}