.custom-cards {
  display: grid;
  gap: 24px;
}

.card-dimension {
  max-width: 480px;
  align-self: stretch;
}

.restaurant-card {
  grid-template-columns: 1fr 1fr 1fr;
}

.food-card,
.card-home {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content {
  display: flex;
}

@media(max-width: 992px) {
  .food-card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .restaurant-card,
  .card-home {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .food-card {
  grid-template-columns: 1fr 1fr;
  }

  .restaurant-card {
    grid-template-columns:1fr 1fr;
    order: 2;
  }

  .card-dimension {
    max-width: 700px;
  }

  .content {
    flex-direction: column;
    
  }

  .map-restaurant {
    display: flex;
    order: 0;
    flex-basis: unset !important;
    height: 30vh !important;
    margin-bottom: 12px !important;
  }
}

@media(max-width: 576px) {
  .custom-cards {
    width: 80%;
    margin: auto;

  }

  .food-card {
    justify-items: stretch;
    grid-template-columns: 1fr;
  }

  .restaurant-card,
  .card-home {
    grid-template-columns: 1fr;
  }

  .card-home {
    width: 80%;
  }

}