.footer {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.footer-item {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.footer-item:hover {
    color: gray;
}