.footer {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.git-hub {
    color: white;
    font-size: 30px;
}