.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: $light;
}

.map-restaurants {
  height: 100vh;
  position: sticky;
  top: 81px;
}

.map-restaurant, 
.foods {
  flex-basis: 30%;
}


.foods-grid {
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}


.food-image {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.food-name {
  text-shadow: 4px 4px 12px #000000;
  font-weight: 600;
}